html
        {
            height: 100%;
        }
        body
        {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map_canvas
        {
            height: 100%;
        }
        #header
        {
        	height:50px;
        	width:100%;
        	background-color: #000000;
        }